{% extends 'base.html' %}
{% block title %}{{ task.description }}{% endblock %}
{% block content %}
        <div class="task-view">
            <h1>Task:</h1>
            <h2>{{ task.description }}</h2>
            <p>{{ task.details}}</p>
            <p> Status: {{ task.status }}</p>
            <p>Completion date: {{ task.completion_date }}</p>
            <a class="btn btn-outline-info" href="{% url 'task-update' task.id %}">Update</a>
            <button type="button" class="btn btn-outline-info waves-effect px-3" data-toggle="modal" data-target="#deletion">Delete
            </button>
            <a class="btn btn-outline-info" href="{% url 'index' %}" role="button">Go Back</a>
        </div>
        <div class="modal fade" id="deletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this task?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <a class="btn" href='{% url "task-delete" task.id %}'>Delete</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
