{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do List</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="task-view">
            <h1>Task:</h1>
            <h2>{{ task.description }}</h2>
            <p>{{ task.details}}</p>
            <p> Status: {{ task.status }}</p>
            <p>Completion date: {{ task.completion_date }}</p>
            <form action="{% url 'task' task.pk %}" method="POST">
                {% csrf_token %}
                 <input class="btn btn-outline-info" type="submit" value="Delete">
            </form>
            <a class="btn btn-outline-info" href="{% url 'index' %}" role="button">Go Back</a>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/btn.js' %}"></script>
</body>
</html>