{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do List</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="header-info-block">
        <div class="container">
            <h1>Add A new task</h1>
		</div>
	</div>

	<div class="container">
		<div class="task-form">
			<form method="POST" action="{% url 'task_add' %}">
				{% csrf_token %}
				<label for="description">Description of a Task:</label>
			  	<input type="text" id="description" name="description">
				<br>
				<label for="status">Choose status of a Task:</label>
				<select id="status" name="status" >
					<option value='new'>New</option>
					<option value='in_progress'>in Progress</option>
					<option value='done'>Done</option>
				</select>
				<br>
				<label for="Date of Completion">
        			Enter the Date of Completion:
        			<input type="date" name="completion_date" value="2021-02-01" id='Date of Completion'>
    			</label>
				<br>
				<input class="btn btn-outline-info" type="submit" value="Submit">
				<a class="btn btn-outline-info" href="{% url 'index' %}" role="button">Go Back</a>
			</form>
			<br>
		</div>
	</div>
	<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/btn.js' %}"></script>
</body>
</html>